* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Reset dei margini e dei padding */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Stile per il contenitore principale */
  .container {
    max-width: 960px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: rgba(0, 20, 136, 0.89);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Stile per il contenuto */
  .col {
    background-color: #1c91ff;
    padding: 20px;
    border-radius: 4px;
  }
  
  /* Stile per il titolo principale */
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  /* Stile per il paragrafo di descrizione */
  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    font-style: italic;
  }
  
  /* Stile per la lista della spesa */
    ul {
        list-style-type: none;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
  
  /* Stile per gli elementi della lista */
  ul li {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }